__pycache__/
*.py[cod]
*$py.class

# Environments
env/
.env
.venv
venv/

# VS Code workspace
.vscode/
*.code-workspace

# notebooks
**/.ipynb_checkpoints/

# Pipenv. We currently only use pip. Not wrappers like Pipenv.
Pipfile
Pipfile.lock
